#amarillo {
  background-color: yellow;
  border-top-left-radius: 100%;
}

#azul {
  background-color: blue;
  border-top-right-radius: 100%;
}

#rojo {
  background-color: red;
  border-bottom-left-radius: 100%;
}

#verde {
  background-color: green;
  border-bottom-right-radius: 100%;
}

 header {
  height: 25vh;
}

.color {
  border: solid 10px grey;
  opacity: 60%;
  transition: 1000ms;
  height: 35vh;
}

header{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5em 0em 0.5em 0em;
}

h1 {
  align-items: flex-start;
}

.oculto{
  display: none;
}

footer p{
  margin-left: 1em;
}

span {
  padding: 1em 1em 1em 1em;
}

#turno, #puntos {
  padding-bottom: 2px;
}

#color {
  text-transform: uppercase;
}
